.display-4{
    font-weight: 450;
}

.introcontainer {
    
    color: white;
    text-shadow: 1px 1px 2px rgb(112, 33, 202), 0 0 25px rgb(221, 90, 233), 0 0 5px rgb(109, 0, 139);
}

.h4title {
    font-family: cursive;
    font-size: 30px;
    font-weight: bold;
}

.descrip{
    margin-top: 150px;
}

.jumbotron-fluid {
    height: 400px;
    background-image: url(/images/sailormoon5.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position-y: -10px; 
    padding: 0%;
    
}