.card {
    background: rgb(231, 130, 218);
    border-radius: 2px;
    border: 4px solid;
    height: 170px;
    width: 200px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 
    0 0 8px 5px rgba(255, 255, 255, 0.795),  /* inner white */
    0 0 8px 5px rgba(255, 0, 255, 0.651), /* middle magenta */
    0 0 8px 9px rgba(0, 255, 255, 0.74); /* outer cyan */
    overflow: hidden;
  }

  .card:hover {
    transform: scale(1.1); 
  }
  
 .card > img {
    
    text-align: center;
    background: #6caddc;
    height: 100% !important;
  }