.card {
    background: #fff;
    border-radius: 5px;
    height: 190px;
    /* margin: 1rem; */
    position: relative;
    /* width: 190px; */
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    margin: 1rem 50px;
    transition: transform .2s;
  }

  .card:hover {
    transform: scale(1.1); 
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background: white;
  } 

  .card > .img-container > img {
    width: 190px;
    height: 200px;
  } 